.version.athletics /* version checker */
{
	color: #0000E4;
	background-color: #EDBAC8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 971px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1029px;
	margin-left: auto;
	margin-right: auto;
}

#u1597
{
	z-index: 2;
	width: 1180px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	left: -100px;
}

#u1597_clip
{
	overflow: hidden;
	width: 1180px;
	height: 186px;
}

#u1597_img
{
	margin-top: -44px;
	margin-bottom: -69px;
}

#u1599-4
{
	z-index: 4;
	width: 490px;
	min-height: 48px;
	background-color: transparent;
	line-height: 47px;
	font-size: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
}

#u1600
{
	z-index: 8;
	width: 283px;
	background-color: transparent;
	border-radius: 213px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 758px;
}

#u1600 .clip_frame
{
	-webkit-border-radius: 213px 213px 213px 213px;
}

#u1602-4
{
	z-index: 10;
	width: 71px;
	min-height: 29px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 864px;
}

#u1665-4
{
	z-index: 14;
	width: 75px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: -37px;
}

#u1666-4
{
	z-index: 18;
	width: 95px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: -48px;
}

#u1667-4
{
	z-index: 22;
	width: 109px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: -54px;
}

#u1668
{
	z-index: 26;
	width: 4px;
	height: 719px;
	background-color: #BBFDFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 72px;
}

#u1669-8
{
	z-index: 27;
	width: 674px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 109px;
}

#u1670-8
{
	z-index: 35;
	width: 674px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 109px;
}

#u1671-8
{
	z-index: 43;
	width: 674px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: 109px;
}

#u1669-2,#u1670-2,#u1671-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

#u1669-4,#u1670-4,#u1671-4
{
	font-size: 18px;
	line-height: 22px;
	font-style: italic;
}

#u1669-6,#u1670-6,#u1671-6
{
	font-size: 14px;
	font-style: normal;
}

#u1673
{
	z-index: 51;
	width: 5px;
	height: 47px;
	background-color: #BBFDFF;
	-webkit-transform: matrix(0,-1,1,0,-21,26);
	-ms-transform: matrix(0,-1,1,0,-21,26);
	transform: matrix(0,-1,1,0,-21,26);
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
	left: 71px;
}

#u1674
{
	z-index: 52;
	width: 5px;
	height: 47px;
	background-color: #BBFDFF;
	-webkit-transform: matrix(0,-1,1,0,-21,26);
	-ms-transform: matrix(0,-1,1,0,-21,26);
	transform: matrix(0,-1,1,0,-21,26);
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 71px;
}

#u1675
{
	z-index: 53;
	width: 5px;
	height: 47px;
	background-color: #BBFDFF;
	-webkit-transform: matrix(0,-1,1,0,-21,26);
	-ms-transform: matrix(0,-1,1,0,-21,26);
	transform: matrix(0,-1,1,0,-21,26);
	position: relative;
	margin-right: -10000px;
	margin-top: 591px;
	left: 71px;
}

#u1784
{
	z-index: 54;
	height: 40px;
	background-color: #E6FCFF;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
}

#u1784-bw
{
	z-index: 54;
	height: 40px;
}

#u1785-4
{
	z-index: 55;
	width: 128px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 36px;
}

#u1786-4
{
	z-index: 59;
	width: 124px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 164px;
}

#u1787-4
{
	z-index: 63;
	width: 124px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 288px;
}

#u1788-4
{
	z-index: 67;
	width: 131px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 412px;
}

#u1789-4
{
	z-index: 71;
	width: 131px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 543px;
}

#u1790-4
{
	z-index: 75;
	width: 212px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 674px;
}

#u1791-4
{
	z-index: 79;
	width: 130px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 886px;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

