.version.expereince /* version checker */
{
	color: #00000A;
	background-color: #FFCC72;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1091px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 909px;
	margin-left: auto;
	margin-right: auto;
}

#u1530
{
	z-index: 2;
	width: 1180px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	left: -100px;
}

#u1530_clip
{
	overflow: hidden;
	width: 1180px;
	height: 186px;
}

#u1530_img
{
	margin-top: -44px;
	margin-bottom: -69px;
}

#u1532-4
{
	z-index: 4;
	width: 490px;
	min-height: 48px;
	background-color: transparent;
	line-height: 47px;
	font-size: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
}

#u1533
{
	z-index: 8;
	width: 283px;
	background-color: transparent;
	border-radius: 213px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 758px;
}

#u1533 .clip_frame
{
	-webkit-border-radius: 213px 213px 213px 213px;
}

#u1538-4
{
	z-index: 10;
	width: 71px;
	min-height: 29px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 864px;
}

#u1649-4
{
	z-index: 14;
	width: 75px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: -38px;
}

#u1650-4
{
	z-index: 18;
	width: 75px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 431px;
	left: -38px;
}

#u1651-4
{
	z-index: 22;
	width: 109px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 703px;
	left: -55px;
}

#u1652
{
	z-index: 26;
	width: 5px;
	height: 748px;
	background-color: #BBFDFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 71px;
}

#u1653-12
{
	z-index: 27;
	width: 674px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 109px;
}

#u1654-10
{
	z-index: 39;
	width: 674px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 109px;
}

#u1655-10
{
	z-index: 49;
	width: 674px;
	min-height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 699px;
	left: 109px;
}

#u1697-10
{
	z-index: 59;
	width: 674px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 989px;
	left: 109px;
}

#u1698-10
{
	z-index: 69;
	width: 674px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 853px;
	left: 109px;
}

#u1697-6,#u1698-6
{
	font-size: 18px;
	line-height: 22px;
	font-style: normal;
}

#u1699-10
{
	z-index: 79;
	width: 674px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 434px;
	left: 109px;
}

#u1653-2,#u1654-2,#u1655-2,#u1697-2,#u1698-2,#u1699-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

#u1653-4,#u1654-4,#u1655-4,#u1697-4,#u1698-4,#u1699-4
{
	font-size: 18px;
	line-height: 22px;
	font-style: italic;
}

#u1653-6,#u1654-6,#u1655-6,#u1699-6
{
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	font-style: normal;
}

#u1653-8,#u1653-10,#u1654-8,#u1655-8,#u1697-8,#u1698-8,#u1699-8
{
	font-size: 14px;
	font-style: normal;
}

#u1700-4
{
	z-index: 89;
	width: 75px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 572px;
	left: -38px;
}

#u1740
{
	z-index: 93;
	height: 40px;
	background-color: #E6FCFF;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
}

#u1740-bw
{
	z-index: 93;
	height: 40px;
}

#u1741-4
{
	z-index: 94;
	width: 128px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: -6px;
}

#u1742-4
{
	z-index: 98;
	width: 124px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 122px;
}

#u1743-4
{
	z-index: 102;
	width: 124px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 246px;
}

#u1744-4
{
	z-index: 106;
	width: 131px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 370px;
}

#u1745-4
{
	z-index: 110;
	width: 131px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 501px;
}

#u1746-4
{
	z-index: 114;
	width: 212px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 632px;
}

#u1747-4
{
	z-index: 118;
	width: 130px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 844px;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

