.version.index /* version checker */
{
	color: #0000F1;
	background-color: #0F5B9C;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 2468.946955871352px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 40px;
	width: 0.01px;
}

#u1273
{
	z-index: 351;
	min-height: 81px;
	border-style: solid;
	border-color: #BF2932;
	background-color: #E9E9EA;
	padding-bottom: 19px;
	border-width: 0px 0px 4px;
}

#u1274
{
	z-index: 352;
	width: 60px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 340px;
	background: #4BA1BF url("../images/twitter.png") no-repeat center center;
}

#u1274:hover
{
	width: 60px;
	height: 60px;
	min-height: 0px;
	margin: 21px -10000px 0px 0px;
	background: #000000 url("../images/twitter.png") no-repeat center center;
}

#u1275
{
	z-index: 353;
	width: 60px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 479px;
	background: #344B9B url("../images/facebook.png") no-repeat center center;
}

#u1275:hover
{
	width: 60px;
	height: 60px;
	min-height: 0px;
	margin: 21px -10000px 0px 0px;
	background: #000000 url("../images/facebook.png") no-repeat center center;
}

#u1277
{
	z-index: 355;
	width: 60px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 618px;
	background: #A09765 url("../images/instagram.png") no-repeat center center;
}

#u1277:hover
{
	width: 60px;
	height: 60px;
	min-height: 0px;
	margin: 21px -10000px 0px 0px;
	background: #000000 url("../images/instagram.png") no-repeat center center;
}

#u1276
{
	z-index: 354;
	width: 60px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 758px;
	background: #44AFFC url("../images/skype.png") no-repeat center center;
}

#u1276:hover
{
	width: 60px;
	height: 60px;
	min-height: 0px;
	margin: 21px -10000px 0px 0px;
	background: #000000 url("../images/skype.png") no-repeat center center;
}

#u1273-bw
{
	z-index: 351;
	min-height: 81px;
}

#pu1480
{
	width: 0.01px;
	margin-left: -100px;
}

#u1480
{
	z-index: 348;
	min-height: 34px;
	background-color: #E6FCFF;
	padding-bottom: 6px;
}

#u1273_align_to_page,#u1480_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
}

#u1280-4
{
	z-index: 356;
	width: 128px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 100px;
}

#u1463-4
{
	z-index: 398;
	width: 130px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 950px;
}

#u1480-bw
{
	z-index: 348;
	min-height: 34px;
}

#u1458-4
{
	z-index: 378;
	width: 124px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 228px;
}

#u1459-4
{
	z-index: 382;
	width: 124px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 352px;
}

#u1460-4
{
	z-index: 386;
	width: 131px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 476px;
}

#u1461-4
{
	z-index: 390;
	width: 131px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 607px;
}

#u1462-4
{
	z-index: 394;
	width: 212px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 738px;
}

#pu1852
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u1852
{
	z-index: 347;
	height: 296px;
	background-color: #97BAD8;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
}

#u1852-bw
{
	z-index: 347;
	margin-top: 55px;
	height: 296px;
}

#u1384
{
	z-index: 349;
	width: 1179px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u1384_clip
{
	overflow: hidden;
	width: 1179px;
	height: 297px;
}

#u1281-8
{
	z-index: 360;
	width: 355px;
	min-height: 84px;
	border-color: #CCCCCC;
	background-color: transparent;
	text-align: right;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 725px;
}

#u1281-2,#u1281-4
{
	font-size: 30px;
	line-height: 42px;
}

#u1281-6
{
	font-size: 28px;
	line-height: 39px;
}

#u1282-8
{
	z-index: 368;
	width: 299px;
	min-height: 91px;
	border-color: #CCCCCC;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 99px;
}

#u1282-2
{
	font-size: 40px;
	line-height: 52px;
}

#u1282-4,#u1282-6
{
	font-size: 22px;
	line-height: 29px;
}

#u1396
{
	z-index: 376;
	width: 374px;
	border-width: 4px;
	border-style: solid;
	border-color: #E6FCFF;
	background-color: transparent;
	border-radius: 213px;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 372px;
}

#u1396 .clip_frame
{
	-webkit-border-radius: 209px 209px 209px 209px;
}

#pu1255
{
	width: 0.01px;
	margin-top: 27px;
}

#u1255
{
	z-index: 345;
	width: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1213-4
{
	z-index: 225;
	width: 256px;
	min-height: 36px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 53px;
}

#u1239
{
	z-index: 293;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 337px;
}

#u1214-4
{
	z-index: 229;
	width: 250px;
	min-height: 36px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 394px;
}

#u1253
{
	z-index: 343;
	width: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 673px;
}

#u1212-4
{
	z-index: 221;
	width: 257px;
	min-height: 36px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 723px;
}

#pu1208
{
	width: 0.01px;
	margin-top: 41px;
}

#u1208
{
	z-index: 217;
	width: 278px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 11px 10px 5px 17px;
}

#u1245-4
{
	z-index: 311;
	width: 277px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
}

#u1241-4
{
	z-index: 295;
	width: 278px;
	min-height: 30px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 17px;
	margin-top: 5px;
	position: relative;
}

#u1249-4
{
	z-index: 327;
	width: 277px;
	min-height: 43px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 13px;
	color: #4C4C4C;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u1209
{
	z-index: 218;
	width: 277px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 336px;
	padding: 7px 11px 4px 17px;
}

#u1246-4
{
	z-index: 315;
	width: 277px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
}

#u1242-4
{
	z-index: 299;
	width: 277px;
	min-height: 30px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 17px;
	margin-top: 7px;
	position: relative;
}

#u1250-4
{
	z-index: 331;
	width: 276px;
	min-height: 43px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 13px;
	color: #4C4C4C;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#pu1221
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-left: 673px;
}

#u1221
{
	z-index: 239;
	width: 45px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 2px;
	position: relative;
}

#u1228-4
{
	z-index: 249;
	width: 35px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u1224
{
	z-index: 242;
	width: 45px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 3px;
	margin-top: 10px;
	position: relative;
}

#u1234-4
{
	z-index: 273;
	width: 35px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#u1222
{
	z-index: 240;
	width: 45px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 2px;
	margin-top: 10px;
	position: relative;
}

#u1232-4
{
	z-index: 265;
	width: 35px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u1215
{
	z-index: 233;
	width: 262px;
	border-color: #000000;
	background-color: #C1272D;
	padding-bottom: 3px;
	position: relative;
}

#u1227-4
{
	z-index: 245;
	width: 154px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u1216
{
	z-index: 234;
	width: 208px;
	border-color: #000000;
	background-color: #C1272D;
	padding-bottom: 3px;
	margin-top: 10px;
	position: relative;
}

#u1233-4
{
	z-index: 269;
	width: 154px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u1219
{
	z-index: 237;
	width: 237px;
	border-color: #000000;
	background-color: #C1272D;
	padding-bottom: 2px;
	margin-top: 10px;
	position: relative;
}

#u1231-4
{
	z-index: 261;
	width: 154px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#pu1210
{
	width: 0.01px;
	margin-top: 9px;
}

#u1210
{
	z-index: 219;
	width: 279px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	padding: 11px 9px 22px 17px;
}

#u1247-4
{
	z-index: 319;
	width: 278px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
}

#u1243-4
{
	z-index: 303;
	width: 279px;
	min-height: 30px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 17px;
	margin-top: 5px;
	position: relative;
}

#u1251-4
{
	z-index: 335;
	width: 278px;
	min-height: 43px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 13px;
	color: #4C4C4C;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u1211
{
	z-index: 220;
	width: 276px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 336px;
	padding: 7px 12px 21px 17px;
}

#u1248-4
{
	z-index: 323;
	width: 276px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
}

#u1244-4
{
	z-index: 307;
	width: 276px;
	min-height: 30px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 17px;
	margin-top: 7px;
	position: relative;
}

#u1252-4
{
	z-index: 339;
	width: 275px;
	min-height: 43px;
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 13px;
	color: #4C4C4C;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#pu1225
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 673px;
}

#u1225
{
	z-index: 243;
	width: 45px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 2px;
	position: relative;
}

#u1238-4
{
	z-index: 289;
	width: 35px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u1223
{
	z-index: 241;
	width: 45px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 5px;
	margin-top: 10px;
	position: relative;
}

#u1230-4
{
	z-index: 257;
	width: 35px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u1226
{
	z-index: 244;
	width: 45px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 4px;
	margin-top: 9px;
	position: relative;
}

#u1236-4
{
	z-index: 281;
	width: 35px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 7px;
}

#pu1215,#pu1218
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 718px;
}

#u1218
{
	z-index: 236;
	width: 157px;
	border-color: #000000;
	background-color: #C1272D;
	padding-bottom: 2px;
	position: relative;
}

#u1237-4
{
	z-index: 285;
	width: 154px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u1220
{
	z-index: 238;
	width: 247px;
	border-color: #000000;
	background-color: #C1272D;
	padding-bottom: 5px;
	margin-top: 10px;
	position: relative;
}

#u1229-4
{
	z-index: 253;
	width: 197px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u1217
{
	z-index: 235;
	width: 267px;
	border-color: #000000;
	background-color: #C1272D;
	padding-bottom: 6px;
	margin-top: 9px;
	position: relative;
}

#u1235-4
{
	z-index: 277;
	width: 154px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#pu1100
{
	width: 0.01px;
	margin-left: 196px;
	margin-top: 153px;
}

#u1100
{
	z-index: 105;
	width: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1099-4
{
	z-index: 101;
	width: 653px;
	min-height: 36px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 54px;
}

#pamphletu1102
{
	z-index: 107;
	width: 0.01px;
	height: 445px;
	padding-bottom: 12px;
	margin-top: 53px;
	position: relative;
}

#u1107
{
	z-index: 108;
	width: 289px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 11px;
}

#u1114
{
	position: absolute;
	width: 305px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: -12px;
	left: -10px;
}

#u1114:hover
{
	border-color: #000000;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	z-index: 110;
	width: 287px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#u1114:hover #u1115-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 10px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 10px -10000px 0px 0px;
}

#u1114:hover #u1115-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1114:active #u1115-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1120
{
	position: absolute;
	width: 305px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	top: 49px;
	left: -10px;
}

#u1120:hover
{
	border-color: #000000;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1121-4
{
	z-index: 115;
	width: 287px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u1120:hover #u1121-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 8px -10000px 0px 0px;
}

#u1120:active #u1121-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 8px -10000px 0px 0px;
}

#u1120.PamphletThumbSelected #u1121-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 8px -10000px 0px 0px;
}

#u1114.PamphletThumbSelected #u1115-4 p,#u1120:hover #u1121-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1120:active #u1121-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1110
{
	position: absolute;
	width: 305px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	top: 106px;
	left: -10px;
}

#u1110:hover
{
	border-color: #000000;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1111-4
{
	z-index: 120;
	width: 287px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#u1110:hover #u1111-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 10px -10000px 0px 0px;
}

#u1110:active #u1111-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 10px -10000px 0px 0px;
}

#u1120.PamphletThumbSelected #u1121-4 p,#u1110:hover #u1111-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1110:active #u1111-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1112
{
	position: absolute;
	width: 305px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	top: 166px;
	left: -10px;
}

#u1112:hover
{
	border-color: #000000;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1113-4
{
	z-index: 125;
	width: 287px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u1112:hover #u1113-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1112:active #u1113-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1110.PamphletThumbSelected #u1111-4 p,#u1112:hover #u1113-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1112:active #u1113-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1108
{
	position: absolute;
	width: 305px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	top: 225px;
	left: -10px;
}

#u1108:hover
{
	border-color: #000000;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1109-4
{
	z-index: 130;
	width: 287px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u1108:hover #u1109-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1108:active #u1109-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1112.PamphletThumbSelected #u1113-4 p,#u1108:hover #u1109-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1108:active #u1109-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1122
{
	position: absolute;
	width: 305px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	top: 282px;
	left: -11px;
}

#u1122:hover
{
	border-color: #000000;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1123-4
{
	z-index: 135;
	width: 287px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#u1122:hover #u1123-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 10px -10000px 0px 0px;
}

#u1122:active #u1123-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 10px -10000px 0px 0px;
}

#u1114.PamphletThumbSelected #u1115-4,#u1110.PamphletThumbSelected #u1111-4,#u1122.PamphletThumbSelected #u1123-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 10px -10000px 0px 0px;
}

#u1108.PamphletThumbSelected #u1109-4 p,#u1122:hover #u1123-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1122:active #u1123-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1116
{
	position: absolute;
	width: 305px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	top: 342px;
	left: -11px;
}

#u1116:hover
{
	border-color: #000000;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1117-4
{
	z-index: 140;
	width: 287px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u1116:hover #u1117-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1116:active #u1117-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1122.PamphletThumbSelected #u1123-4 p,#u1116:hover #u1117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1116:active #u1117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1118
{
	position: absolute;
	width: 305px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	top: 401px;
	left: -11px;
}

#u1118:hover
{
	border-color: #000000;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1114.PamphletThumbSelected,#u1120.PamphletThumbSelected,#u1110.PamphletThumbSelected,#u1112.PamphletThumbSelected,#u1108.PamphletThumbSelected,#u1122.PamphletThumbSelected,#u1116.PamphletThumbSelected,#u1118.PamphletThumbSelected
{
	border-color: #BF2932;
	background-color: #BF2932;
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u1119-4
{
	z-index: 145;
	width: 287px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u1118:hover #u1119-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1118:active #u1119-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1112.PamphletThumbSelected #u1113-4,#u1108.PamphletThumbSelected #u1109-4,#u1116.PamphletThumbSelected #u1117-4,#u1118.PamphletThumbSelected #u1119-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 287px;
	margin: 9px -10000px 0px 0px;
}

#u1116.PamphletThumbSelected #u1117-4 p,#u1118:hover #u1119-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1118:active #u1119-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1118.PamphletThumbSelected #u1119-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1124
{
	position: absolute;
	width: 657px;
	background-color: transparent;
	left: 338px;
}

#u1124popup
{
	z-index: 149;
}

#u1137
{
	z-index: 150;
	width: 617px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	padding: 13px 27px 11px 13px;
}

#u1138
{
	z-index: 157;
	width: 617px;
	height: 371px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-05-14%20at%2035545%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u1139-6
{
	z-index: 151;
	width: 617px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1143
{
	z-index: 158;
	width: 617px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	padding: 13px 27px 11px 13px;
}

#u1144
{
	z-index: 165;
	width: 617px;
	height: 371px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-05-14%20at%2040117%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u1145-6
{
	z-index: 159;
	width: 617px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1140
{
	z-index: 166;
	width: 617px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	padding: 13px 27px 11px 13px;
}

#u1142
{
	z-index: 173;
	width: 617px;
	height: 371px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-05-14%20at%2040825%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u1141-6
{
	z-index: 167;
	width: 617px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1125
{
	z-index: 174;
	width: 617px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	padding: 13px 27px 11px 13px;
}

#u1127
{
	z-index: 181;
	width: 617px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/placeholder.jpg") no-repeat left top;
	background-size: cover;
}

#u1421
{
	z-index: 182;
	width: 616px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1126-6
{
	z-index: 175;
	width: 617px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1146
{
	z-index: 184;
	width: 617px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	padding: 12px 27px 12px 13px;
}

#u1148
{
	z-index: 191;
	width: 617px;
	height: 371px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-05-15%20at%2032347%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u1147-6
{
	z-index: 185;
	width: 617px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1134
{
	z-index: 192;
	width: 617px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	padding: 12px 27px 12px 13px;
}

#u1135
{
	z-index: 199;
	width: 617px;
	height: 371px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/placeholder-u1135-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u1136-6
{
	z-index: 193;
	width: 617px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1128
{
	z-index: 200;
	width: 617px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	padding: 12px 27px 12px 13px;
}

#u1130
{
	z-index: 207;
	width: 617px;
	height: 371px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/placeholder-u1135-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u1129-6
{
	z-index: 201;
	width: 617px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1131
{
	z-index: 208;
	width: 617px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	padding: 12px 27px 12px 13px;
}

#u1132
{
	z-index: 215;
	width: 617px;
	height: 371px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/placeholder-u1135-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u1133-6
{
	z-index: 209;
	width: 617px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1139-2,#u1145-2,#u1141-2,#u1126-2,#u1147-2,#u1136-2,#u1129-2,#u1133-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

#u1139-4,#u1145-4,#u1141-4,#u1126-4,#u1147-4,#u1136-4,#u1129-4,#u1133-4
{
	line-height: 20px;
	font-weight: 400;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1402
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 81px;
}

#u1402
{
	z-index: 65;
	width: 1181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1451
{
	z-index: 67;
	height: 313px;
	background-color: #650047;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
}

#u1451-bw
{
	z-index: 67;
	height: 313px;
}

#pamphletu1065
{
	z-index: 68;
	width: 0.01px;
	height: 192px;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 125px;
}

#u1072
{
	z-index: 69;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
	left: 432px;
}

#u1074
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 50px;
}

#u1074:hover
{
	background-color: #BF2932;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1075
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 50px;
	left: 20px;
}

#u1074.PamphletThumbSelected,#u1075:hover
{
	background-color: #BF2932;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1073
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 50px;
	left: 40px;
}

#u1075.PamphletThumbSelected,#u1073:hover
{
	background-color: #BF2932;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1073.PamphletThumbSelected
{
	background-color: #BF2932;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1076
{
	position: absolute;
	width: 928px;
	background-color: transparent;
}

#u1076popup
{
	z-index: 73;
}

#u1077
{
	z-index: 74;
	width: 863px;
	height: 127px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 22px;
	padding-right: 43px;
	padding-bottom: 102px;
	margin-right: -10000px;
	position: relative;
}

#u1078-4
{
	z-index: 75;
	width: 863px;
	min-height: 74px;
	background-color: transparent;
	line-height: 35px;
	text-align: center;
	font-size: 29px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1079-4
{
	z-index: 79;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-left: 289px;
	margin-top: 27px;
	position: relative;
}

#u1080
{
	z-index: 83;
	width: 863px;
	height: 127px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 22px;
	padding-right: 43px;
	padding-bottom: 102px;
	margin-right: -10000px;
	position: relative;
}

#u1082-4
{
	z-index: 84;
	width: 863px;
	min-height: 74px;
	background-color: transparent;
	line-height: 35px;
	text-align: center;
	font-size: 29px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1081-4
{
	z-index: 88;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-left: 289px;
	margin-top: 27px;
	position: relative;
}

#u1083
{
	z-index: 92;
	width: 863px;
	height: 228px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 22px;
	padding-right: 43px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u1085-4
{
	z-index: 93;
	width: 863px;
	min-height: 74px;
	background-color: transparent;
	line-height: 35px;
	text-align: center;
	font-size: 29px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1084-4
{
	z-index: 97;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-left: 289px;
	margin-top: 27px;
	position: relative;
}

#pu1045
{
	width: 0.01px;
	margin-left: 389px;
	margin-top: 40px;
}

#u1045
{
	z-index: 63;
	width: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1044-4
{
	z-index: 2;
	width: 149px;
	min-height: 36px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#widgetu1011
{
	z-index: 6;
	width: 0.01px;
	height: 361px;
	margin-top: 29px;
	position: relative;
}

#widgetu1012
{
	z-index: 7;
	width: 477px;
	height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1015-4
{
	z-index: 8;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 15px;
	text-align: left;
	font-size: 15px;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1013-4
{
	z-index: 12;
	width: 463px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu1012.non-empty-st #u1013-4
{
	background-color: #FFFFFF;
}

#widgetu1012:hover #u1013-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 463px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1012.focus-st #u1013-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 463px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1012.non-empty-st #u1013-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1012:hover #u1013-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1012.focus-st #u1013-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1016
{
	z-index: 16;
	width: 477px;
	height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#widgetu1012.fld-err-st,#widgetu1016.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 477px;
	height: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1017-4
{
	z-index: 17;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 15px;
	text-align: left;
	font-size: 15px;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1016.fld-err-st #u1017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1018-4
{
	z-index: 21;
	width: 463px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1016.non-empty-st #u1018-4
{
	background-color: #FFFFFF;
}

#widgetu1016:hover #u1018-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 463px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1016.focus-st #u1018-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 463px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1012.fld-err-st #u1013-4,#widgetu1016.fld-err-st #u1018-4
{
	border-color: #BF2932;
	background-color: #BF2932;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 463px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1016.non-empty-st #u1018-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1016:hover #u1018-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1016.focus-st #u1018-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1012_input,#widgetu1012_prompt,#widgetu1016_input,#widgetu1016_prompt
{
	width: 463px;
	min-height: 28px;
	color: #C4C4C4;
	font-family: droid-sans, sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#u1020-4
{
	z-index: 25;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 342px;
}

#widgetu1011.frm-sub-st #u1020-4 p
{
	color: #999999;
	text-align: center;
	font-size: 14px;
	line-height: 1;
}

#u1026-4
{
	z-index: 29;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 342px;
}

#widgetu1011.frm-subm-err-st #u1026-4 p
{
	color: #D7244C;
	text-align: center;
	font-size: 14px;
	line-height: 1;
}

#u1021-4
{
	z-index: 33;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 342px;
}

#widgetu1011.frm-sub-st #u1020-4,#widgetu1011.frm-subm-err-st #u1026-4,#widgetu1011.frm-subm-ok-st #u1021-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1011.frm-subm-ok-st #u1021-4 p
{
	color: #009245;
	text-align: center;
	font-size: 14px;
}

#u1027-17
{
	z-index: 37;
	min-height: 52px;
	width: 296px;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 341px;
	background: url("../images/u1027-17.png") no-repeat 0px 0px;
}

#u1027-17:hover
{
	background: url("../images/u1027-17-r.png") no-repeat 0px 0px;
}

#u1027-17:active
{
	background: url("../images/u1027-17-m.png") no-repeat 0px 0px;
}

#widgetu1011.frm-sub-st #u1027-17
{
	background: url("../images/u1027-17-fs.png") no-repeat 0px 0px;
}

#widgetu1022
{
	z-index: 54;
	width: 982px;
	height: 159px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: -1px;
}

#widgetu1022.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 982px;
	height: 159px;
	min-height: 0px;
	margin: 88px -10000px 0px 0px;
}

#u1025-4
{
	z-index: 55;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 15px;
	text-align: left;
	font-size: 15px;
	color: #000000;
	font-family: droid-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1012.fld-err-st #u1015-4,#widgetu1022.fld-err-st #u1025-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1012.fld-err-st #u1015-4 p,#widgetu1012.fld-err-st #u1015-4 span,#widgetu1016.fld-err-st #u1017-4 p,#widgetu1016.fld-err-st #u1017-4 span,#widgetu1022.fld-err-st #u1025-4 p,#widgetu1022.fld-err-st #u1025-4 span
{
	color: #D7244C;
}

#u1023-4
{
	z-index: 59;
	width: 968px;
	min-height: 126px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1022.non-empty-st #u1023-4
{
	background-color: #FFFFFF;
}

#widgetu1022:hover #u1023-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 126px;
	width: 968px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1022.focus-st #u1023-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 126px;
	width: 968px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1022.fld-err-st #u1023-4
{
	border-color: #BF2932;
	background-color: #BF2932;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 126px;
	width: 968px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1022.non-empty-st #u1023-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1022:hover #u1023-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1022.focus-st #u1023-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1012.fld-err-st #u1013-4 *,#widgetu1016.fld-err-st #u1018-4 *,#widgetu1022.fld-err-st #u1023-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu1022_input,#widgetu1022_prompt
{
	width: 968px;
	min-height: 126px;
	color: #C4C4C4;
	font-family: droid-sans, sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu1012.focus-st #widgetu1012_prompt,#widgetu1016.focus-st #widgetu1016_prompt,#widgetu1022.focus-st #widgetu1022_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1012:hover #widgetu1012_input,#widgetu1012.focus-st #widgetu1012_input,#widgetu1012.fld-err-st #widgetu1012_input,#widgetu1012:hover #widgetu1012_prompt,#widgetu1012.fld-err-st #widgetu1012_prompt,#widgetu1016:hover #widgetu1016_input,#widgetu1016.focus-st #widgetu1016_input,#widgetu1016.fld-err-st #widgetu1016_input,#widgetu1016:hover #widgetu1016_prompt,#widgetu1016.fld-err-st #widgetu1016_prompt,#widgetu1022:hover #widgetu1022_input,#widgetu1022.focus-st #widgetu1022_input,#widgetu1022.fld-err-st #widgetu1022_input,#widgetu1022:hover #widgetu1022_prompt,#widgetu1022.fld-err-st #widgetu1022_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1012.non-empty-st #widgetu1012_prompt,#widgetu1016.non-empty-st #widgetu1016_prompt,#widgetu1022.non-empty-st #widgetu1022_prompt
{
	visibility: hidden;
}

#u1207
{
	z-index: 216;
	height: 456px;
	border-style: solid;
	border-color: #000000;
	background-color: #E9E9EA;
	border-width: 0px 0px 6px;
}

#u1207::before
{
	box-shadow: none;
}

#u1207-bw
{
	z-index: 216;
	margin-top: -1979px;
	margin-bottom: -462px;
	height: 456px;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

